/* fileE.css */

/* Style de base */
#client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    max-width: 800px;
    margin: auto;
}

#demande-table {
    max-width: 500px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#demande-table th, #demande-table td {
    border: 1px solid #979494;
    padding: 8px;
    text-align: center;
}

#demande-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#welcome-container {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-container, .demande-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    max-height: 300px;
    overflow-y: auto;
}

#demande-liste {
    list-style-type: none;
    padding: 0;
}

#demande-liste li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

#logout-client {
    margin-top: 20px;
    background-color: #f44336;
}

#logout-client:hover {
    background-color: #e53935;
}

/* Media Queries pour rendre le site responsive */

/* Si l'écran fait moins de 1200px de large */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .form-container, .demande-container {
        margin-bottom: 20px;
    }
    #demande-table {
        width: 100%;
        max-width: none;
    }
}

/* Si l'écran fait moins de 768px de large (tablettes et mobiles en paysage) */
@media (max-width: 768px) {
    #client-container {
        padding: 10px;
        width: 90%;
    }
    .form-container, .demande-container {
        padding: 15px;
    }
    #demande-table {
        font-size: 14px; /* Taille de la police plus petite */
    }
    #logout-client {
        margin-top: 15px;
    }
}

/* Si l'écran fait moins de 480px de large (mobiles en portrait) */
@media (max-width: 480px) {
    #client-container {
        width: 100%;
        padding: 5px;
    }
    .form-container, .demande-container {
        padding: 10px;
    }
    #demande-table {
        font-size: 12px; /* Taille de la police encore plus petite */
    }
    #logout-client {
        margin-top: 10px;
        font-size: 14px;
    }
}
