/* fileE.css */

#client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    max-width: 800px;
    margin: auto;
}

#demande-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#demande-table th, #demande-table td {
    border: 1px solid #979494;
    padding: 8px;
    text-align: center;
}

#demande-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}



#welcome-container {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-container, .demande-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    max-height: 300px;
    overflow-y: auto;
}

#demande-liste {
    list-style-type: none;
    padding: 0;
}

#demande-liste li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

#logout-client {
    margin-top: 20px;
    background-color: #f44336;
}

#logout-client:hover {
    background-color: #e53935;
}
